<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Title:</td>
      <td>SGIG Program Advanced Metering Infrastructure ...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Source:</td>
      <td>http://www.smartgrid.gov/</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Time and Date:</td>
      <td>2015-05-01 11:57:00</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Content:</td>
      <td>This file contains smart grid data (current as...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>NaN</td>
      <td>All of the data in this file is considered pub...</td>
    </tr>
    <tr>
      <th>5</th>
      <td>NaN</td>
      <td>This data provides details regarding the deplo...</td>
    </tr>
    <tr>
      <th>6</th>
      <td>NaN</td>
      <td>Blank or zero in a data field indicates that t...</td>
    </tr>
  </tbody>
</table>