<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Month of PeriodEndDate</th>
      <th>December</th>
      <th>June</th>
      <th>March</th>
      <th>September</th>
    </tr>
    <tr>
      <th>Year of PeriodEndDate</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2012.0</th>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2013.0</th>
      <td>10.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>2014.0</th>
      <td>8.0</td>
      <td>15.0</td>
      <td>13.0</td>
      <td>17.0</td>
    </tr>
    <tr>
      <th>2015.0</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>6.0</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>