<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ProjectId</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>09-0007-01</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>09-0007-02</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>09-0008</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>09-0014</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>09-0015</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>09-0018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>09-0026</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>09-0027</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>09-0031-01</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>09-0031-02</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>09-0033</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>09-0035</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>09-0041</td>
      <td>1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>09-0042</td>
      <td>1</td>
    </tr>
    <tr>
      <th>14</th>
      <td>09-0062-01</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15</th>
      <td>09-0062-02</td>
      <td>1</td>
    </tr>
    <tr>
      <th>16</th>
      <td>09-0062-03</td>
      <td>1</td>
    </tr>
    <tr>
      <th>17</th>
      <td>09-0072</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>09-0080</td>
      <td>1</td>
    </tr>
    <tr>
      <th>19</th>
      <td>09-0089</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20</th>
      <td>09-0090</td>
      <td>1</td>
    </tr>
    <tr>
      <th>21</th>
      <td>09-0096</td>
      <td>1</td>
    </tr>
    <tr>
      <th>22</th>
      <td>09-0100</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23</th>
      <td>09-0111</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24</th>
      <td>09-0120</td>
      <td>1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>09-0128</td>
      <td>1</td>
    </tr>
    <tr>
      <th>26</th>
      <td>09-0130</td>
      <td>1</td>
    </tr>
    <tr>
      <th>27</th>
      <td>09-0138</td>
      <td>1</td>
    </tr>
    <tr>
      <th>28</th>
      <td>09-0144</td>
      <td>1</td>
    </tr>
    <tr>
      <th>29</th>
      <td>09-0155</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30</th>
      <td>09-0162</td>
      <td>1</td>
    </tr>
    <tr>
      <th>31</th>
      <td>09-0165-01</td>
      <td>1</td>
    </tr>
    <tr>
      <th>32</th>
      <td>09-0165-02</td>
      <td>1</td>
    </tr>
    <tr>
      <th>33</th>
      <td>09-0167-01</td>
      <td>1</td>
    </tr>
    <tr>
      <th>34</th>
      <td>09-0167-02</td>
      <td>1</td>
    </tr>
    <tr>
      <th>35</th>
      <td>09-0167-03</td>
      <td>1</td>
    </tr>
    <tr>
      <th>36</th>
      <td>09-0167-05</td>
      <td>1</td>
    </tr>
    <tr>
      <th>37</th>
      <td>09-0167-06</td>
      <td>1</td>
    </tr>
    <tr>
      <th>38</th>
      <td>09-0167-07</td>
      <td>1</td>
    </tr>
    <tr>
      <th>39</th>
      <td>09-0167-08</td>
      <td>1</td>
    </tr>
    <tr>
      <th>40</th>
      <td>09-0167-09</td>
      <td>1</td>
    </tr>
    <tr>
      <th>41</th>
      <td>09-0167-10</td>
      <td>1</td>
    </tr>
    <tr>
      <th>42</th>
      <td>09-0167-11</td>
      <td>1</td>
    </tr>
    <tr>
      <th>43</th>
      <td>09-0168</td>
      <td>1</td>
    </tr>
    <tr>
      <th>44</th>
      <td>09-0172</td>
      <td>1</td>
    </tr>
    <tr>
      <th>45</th>
      <td>09-0185</td>
      <td>1</td>
    </tr>
    <tr>
      <th>46</th>
      <td>09-0197</td>
      <td>1</td>
    </tr>
    <tr>
      <th>47</th>
      <td>09-0200</td>
      <td>1</td>
    </tr>
    <tr>
      <th>48</th>
      <td>09-0202</td>
      <td>1</td>
    </tr>
    <tr>
      <th>49</th>
      <td>09-0204</td>
      <td>1</td>
    </tr>
    <tr>
      <th>50</th>
      <td>09-0208</td>
      <td>1</td>
    </tr>
    <tr>
      <th>51</th>
      <td>09-0216</td>
      <td>1</td>
    </tr>
    <tr>
      <th>52</th>
      <td>09-0230</td>
      <td>1</td>
    </tr>
    <tr>
      <th>53</th>
      <td>09-0232</td>
      <td>1</td>
    </tr>
    <tr>
      <th>54</th>
      <td>09-0236</td>
      <td>1</td>
    </tr>
    <tr>
      <th>55</th>
      <td>09-0237</td>
      <td>1</td>
    </tr>
    <tr>
      <th>56</th>
      <td>09-0239</td>
      <td>1</td>
    </tr>
    <tr>
      <th>57</th>
      <td>09-0249</td>
      <td>1</td>
    </tr>
    <tr>
      <th>58</th>
      <td>09-0263</td>
      <td>1</td>
    </tr>
    <tr>
      <th>59</th>
      <td>09-0269</td>
      <td>1</td>
    </tr>
    <tr>
      <th>60</th>
      <td>09-0275</td>
      <td>1</td>
    </tr>
    <tr>
      <th>61</th>
      <td>09-0278</td>
      <td>1</td>
    </tr>
    <tr>
      <th>62</th>
      <td>09-0291</td>
      <td>1</td>
    </tr>
    <tr>
      <th>63</th>
      <td>09-0298</td>
      <td>1</td>
    </tr>
    <tr>
      <th>64</th>
      <td>09-0309</td>
      <td>1</td>
    </tr>
    <tr>
      <th>65</th>
      <td>09-0311</td>
      <td>1</td>
    </tr>
    <tr>
      <th>66</th>
      <td>09-0321</td>
      <td>1</td>
    </tr>
    <tr>
      <th>67</th>
      <td>09-0347</td>
      <td>1</td>
    </tr>
    <tr>
      <th>68</th>
      <td>09-0356</td>
      <td>1</td>
    </tr>
    <tr>
      <th>69</th>
      <td>09-0361</td>
      <td>1</td>
    </tr>
    <tr>
      <th>70</th>
      <td>09-0365</td>
      <td>1</td>
    </tr>
    <tr>
      <th>71</th>
      <td>09-0374</td>
      <td>1</td>
    </tr>
    <tr>
      <th>72</th>
      <td>09-0449</td>
      <td>1</td>
    </tr>
    <tr>
      <th>73</th>
      <td>09-0464</td>
      <td>1</td>
    </tr>
    <tr>
      <th>74</th>
      <td>09-0468</td>
      <td>1</td>
    </tr>
    <tr>
      <th>75</th>
      <td>09-0494-01</td>
      <td>1</td>
    </tr>
    <tr>
      <th>76</th>
      <td>09-0494-02</td>
      <td>1</td>
    </tr>
    <tr>
      <th>77</th>
      <td>09-0494-03</td>
      <td>1</td>
    </tr>
    <tr>
      <th>78</th>
      <td>09-0494-04</td>
      <td>1</td>
    </tr>
    <tr>
      <th>79</th>
      <td>09-0494-05</td>
      <td>1</td>
    </tr>
    <tr>
      <th>80</th>
      <td>09-0494-06</td>
      <td>1</td>
    </tr>
    <tr>
      <th>81</th>
      <td>09-0496</td>
      <td>1</td>
    </tr>
    <tr>
      <th>82</th>
      <td>09-0499</td>
      <td>1</td>
    </tr>
    <tr>
      <th>83</th>
      <td>Grand Total</td>
      <td>1</td>
    </tr>
  </tbody>
</table>