<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Month of PeriodEndDate</th>
      <th>Avg TotalCustomerCount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>December</td>
      <td>768223.909091</td>
    </tr>
    <tr>
      <th>1</th>
      <td>June</td>
      <td>412513.733333</td>
    </tr>
    <tr>
      <th>2</th>
      <td>March</td>
      <td>362077.312500</td>
    </tr>
    <tr>
      <th>3</th>
      <td>September</td>
      <td>318761.466667</td>
    </tr>
  </tbody>
</table>